.no-margin {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.row-space {
    margin: 4% 0;
}

.row-card {
    margin-top: 8%;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 0;
    width: 100%;
}

.card-body {
    margin: 0;
    margin-top: 4%;
    padding: 0;
}

/*Jumbotron*/

.jumbo-header {
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position-y: 80%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.jumbo-caption{
    margin-top: 20%;
    margin-left: 5%;
    overflow: hidden;
}

.jumbo-caption h1{
    font-size: 7em;
}

.jumbo-caption p{
    font-size: 3em;
}


/*footer*/
footer {
    background-color: #282828;
}

.for-footer {
    color: #cecece;
}

.for-footer .nav a {
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.for-footer .nav a:hover {
    color: white;
}

#quantityNum {
    color: #eab245;
}

/*Card Likes and Hover Image*/

.oi-heart{
    font-size: 0.8em;
    cursor: pointer;
}

.heart-clicked{
    color: #ff2626;
}

.oi-magnifying-glass{
    color:white;
    font-size: 1.3em;
}

.img-view{
    opacity: 1;
    display: block;
    transition: .5s ease;
    background-color: #282828;
    height: auto;
}

.img-view-bg{
    background-color: black;
}

.img-mid-btn {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 43%;
    left: 52%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.img-view-bg:hover .img-view{
    opacity: 0.4;
}

.img-view-bg:hover .img-mid-btn{
    opacity: 1;
}

.card-body p{
    font-size: 1.15em;
}

.card-body a {
    color: #282828;
    text-decoration: none;
    transition: .3s ease;
}

.card-body a:hover {
    color: #f4c20c;
}

.bottom-bar{
    border-top: 1px solid #b7b7b7;
    border-bottom: 1px solid #b7b7b7;
    height: 9vh;
}

.bottom-bar p{
    margin-top: 1em;
    color: #848484;
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 425px) {
    .jumbo-header{
        background-position-x: 50%;

    }

    .header-caption{
        margin-top: 50%;
    }

    .header-caption h1{
        font-size: 3em;
        text-align: center;
    }

    .header-caption p{
        padding-right: 4%;
        font-size: 2em;
        text-align: center;
    }
}
